<!-- Page Heading/Breadcrumbs -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">About This Site
        </h1>
        <ol class="breadcrumb">
            <li><a href="dashboard.html">Home</a>
            </li>
            <li class="active">About</li>
        </ol>
    </div>
</div>
<!-- /.row -->

<!-- Intro Content -->
<div class="row">
    <div class="col-md-3">
        <img class="img-responsive" src="http://blog.lifeway.com/biblestudiesforlife/files/2013/12/connected.jpg" alt="" width="450" height="250">
    </div>
    <div class="col-md-6">
        <h2>How We Can Help You</h2>
        <p>This website aims to help people choose a career of their choice. We do not guarantee you a job but we guarantee you an opportunity that you would not want to miss out.</p>
    </div>
</div>
<!-- /.row -->

<!-- What you can do -->

<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header">What You Can Do</h2>
    </div>
    <div class="col-md-4 text-center">
        <div class="thumbnail">
            <img class="img-responsive" src="https://assets.entrepreneur.com/content/3x2/1300/20160217205210-speaker-public-presentations-audience-conference-hand-gestures-body-language-information-meeting-talking.jpeg" alt="">
            <div class="caption">
                <h3>Connect With Companies
                </h3>
                <p>Companies will post videos from time to time.</p>
                <a href="connect.html" class="btn btn-default">Check them out!</a>
            </div>
        </div>
    </div>
</div>

<!-- /.row -->
<hr>
