<!-- Page Content -->
<div class="container">
    <!-- Page Heading/Breadcrumbs -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">About This Site
            </h1>
            <ol class="breadcrumb">
                <li><a href="dashboard">Home</a>
                </li>
                <li class="active">About</li>
            </ol>
        </div>
    </div>
    <!-- /.row -->

    <!-- Intro Content -->
    <div class="row">
        <div class="col-md-3">
            <img class="img-responsive" src="http://blog.lifeway.com/biblestudiesforlife/files/2013/12/connected.jpg" alt="" width="450" height="250">
        </div>
        <div class="col-md-6">
            <h2>How We Can Help You</h2>
            <h3>Jobseekers</h3>
            <p align="justify">(i)nfoBar aims to provide you with a window to your dream career. Visit different company
                chatrooms and join in on their live broadcasts to better understand the company's culture. While we
                do not guarantee you a job, but we guarantee you an opportunity that you would not want to miss out!
                
            <h3>Employers</h3>
            <p align="justify">(i)nfoBar aims to provides you with the ultimate online outreach platform to determine the right fit for your company.
                Share your experiences with prospective employees and get to know them through our online chatrooms. Connect
                by exchanging company stories, jokes, and many more! </p>

            <p align="center"><em>So what are you waiting for? Join us today!</em></p>
        </div>
    </div>
    <!-- /.row -->

    <!-- What you can do -->

    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">What You Can Do</h2>
        </div>
        <div class="col-md-4 text-center">
            <div class="thumbnail">
                <img class="img-responsive" src="https://assets.entrepreneur.com/content/3x2/1300/20160217205210-speaker-public-presentations-audience-conference-hand-gestures-body-language-information-meeting-talking.jpeg" alt="">
                <div class="caption">
                    <h3>Jobseekers</h3>
                    <p align="justify">Feel free to browse the dashboard for a company of your choice. View the company's
                        profile using the "Learn More" button. If a company is currently hosting a broadcast, a green 
                        "Online" button will appear below the company's profile picture on the dashboard.
                        Click on the "Online" button and hop on to an exciting ride with your prospective employers!
                    </p>
                    <a href="/dashboard" class="btn btn-default">Check it out now!</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 text-center">
            <div class="thumbnail">
                <img class="img-responsive" src="https://c1.staticflickr.com/5/4072/4585940849_cb88951bfd_b.jpg" alt="">
                <div class="caption">
                    <h3>Employers</h3>
                    <p align="justify">Connect with prospective employees through our live chatrooms. Set the tone 
                        by configuring your broadcasting times to tell your company's stories. When the time comes,
                        go to your company's profile and select "Open room" to begin broadcasting. Also, do not 
                        forget to upload your company details if you have anything fun to share with the world.
                    </p>
                    <a href="/dashboard" class="btn btn-default">Take me there!</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Scripts -->
<script src='/js/jquery.min.js'></script>
<script src='/js/angular.min.js'></script>
<script src='/js/bootstrap.min.js'></script>
<script src='/js/controllers/nav.js'></script>
