<link rel="stylesheet" href="/css/custom/connect.css" type="text/css">
<!-- Page Content -->
<div class="container">
    <!-- Page Heading/Breadcrumbs -->
    <div class="row">
        <div class="col-lg-12">
            <h1 id="page-header" class="page-header">{{user}}</h1>
            <ol class="breadcrumb">
                <li><a href="dashboard">Home</a>
                </li>
                <li class="active">Connect</li>
            </ol>
        </div>
    </div>

    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://rtcmulticonnection.herokuapp.com/dist/RTCMultiConnection.min.js"></script>
    <script src="https://rtcmulticonnection.herokuapp.com/socket.io/socket.io.js"></script>
    
    <!--Container here for the company profile pic/details -->
    <!-- for the pic -->
    <div class="row">
        <div class="col-md-3">
            <a href="http://monstersuniversity.com/edu/index.html">
                <img src="/resources/images/company.jpg" class="img-rounded" alt="">
            </a>
        </div>
        <div class="col-md-9">
            <h4 id="company-details">Monsters University is looking for passionate individuals who would continue the tradition of academic excellence, ground-breaking research, development of next generation leadership and the relentless persuit of monster potential.</h4>
            <h4 id="company-website"><a href="http://monsteruniversity.com/edu/index.html">Company website</a></h4>
            <h4 id="company-bctime">Broadcasting time: Saturday 2pm 12/3/16</h4>
        </div>
    </div>
    <hr>
    <!-- end container for company profile -->
    <!-- End company profile -->
    <section class ="chat">
        <div class="make-center">
            <input type="text" id="room-id" value="abcdef">
            <button class="btn btn-success" id="btn-open-room">Open Room</button>
            <button class="btn btn-success" id="btn-join-room">Join Room </button>
            <button class="btn btn-danger" id ="btn-leave-room" disabled>Leave or close the room</button>
            <br><br><br>
                <div id="room-urls" style="text-align: center;display: none;background: #F1EDED;margin: 15px -10px;border: 1px solid rgb(189, 189, 189);border-left: 0;border-right: 0;"></div>
    <input type="text" id="nameonchat" placeholder="Enter name here" disabled>
    <input type="text" id="input-text-chat" placeholder="Text Chat here" disabled>
    <br><br>
    

        </div>
        <div id ="chat-container">
            <div class="chat-output"></div>
        </div>

        <div id ="videos-container"></div>
    </section>

    <!-- layout for html5 audio/video elements -->
    <script src ="https://cdn.webrtc-experiment.com/getMediaElement.js"></script>
    <script src="https://cdn.webrtc-experiment.com:443/FileBufferReader.js"></script>
    <hr>
    <br>    
    
    <script type="text/javascript" src="/js/controllers/connect.js"></script>  

</div>

<!-- Scripts -->
<script src='/js/jquery.min.js'></script>
<script src='/js/angular.min.js'></script>
<script src='/js/bootstrap.min.js'></script>
<script src='/js/controllers/nav.js'></script>
<script src='/js/controllers/profile.js'></script>